@font-face {
    font-family:Bangers-Regular;
    src: url('./Bangers/Bangers-Regular.ttf');
}
@font-face {
    font-family:CormorantSC-Medium;
    src: url('./CormorantSC/CormorantSC-Medium.ttf');
}
@font-face {
   font-family:Roboto-Regular;
   src: url('./Roboto/Roboto-Regular.ttf');
}
body{
  background-color: #FFFFFF;
}
p {
  margin: 0;
}
.logo{
  text-align:center;
  font-family: 'Bangers-Regular';
  font-size: 60px;
}
ul{
  text-align: center;
  border: 2px solid red;
  max-width: 300px;
  margin: 0 auto;
  font-family: 'CormorantSC-Medium', sans-serif;
}
ul li{
  list-style: none;
}
.row {
  margin: 0;
}
.articles {
  margin-top: 30px;
  margin-bottom: 30px;
}

.article {
  color: black;
  background: rgba(117, 134, 137, 0.95);
  border-spacing: 2px;
  border-color: gray;
  font-family:'Roboto-Regular';
  border-bottom: 1px #e5e5e5 solid;
  border-radius: 20px;
}

.current h2 {
  background: red;
  border-radius: 20px;
  color: white;
  font-style: bold;
}

h2 {
  cursor: pointer;
  padding-top: 7px;
  padding-bottom: 7px;
  
}

h2 .news {
  margin-left: 20px;
  font-weight: bold;
}

h2 .title {
  margin-left: 20px;
}

h2 .date {
  margin-right: 20px;
}

h2 .date {
  text-align: right;  
}

h3 {
  font-family: 'Roboto-Regular';
  display: none;
  padding-top: 10px;
  padding-bottom: 10px;
  letter-spacing: 2px;
}

h3 h1 {
  font-family: arial,sans-serif;
  margin-top: 0px;
  font-size: 20px;
}
p.title {
  margin-left: 20px;
}

h3.row{
  background: white;
  border: 2px solid red;
  border-radius: 20px;
  padding-left: 20px;

}

div h2.row:hover{
  background: gold;
  color: black;
  border-radius: 20px;
}

.slider-nav {
  text-align: center;
  margin-top: 20px;
}

.arrow-prev {
  margin-right: 45px;
  display: inline-block;
  vertical-align: top;
  margin-top: 9px;
}

.arrow-next {
  margin-left: 45px;
  display: inline-block;
  vertical-align: top;
  margin-top: 9px;
}

.slider-dots {
  list-style: none;
  display: inline-block;
  padding-left: 0;
  margin-bottom: 0;
}

.slider-dots li {
  color: #bbbcbc;
  display: inline;
  font-size: 40px;
  margin-right: 5px;
}

.slider-dots li.active-dot {
  color: red;
}
button{
  background: none;
  border:none;
}