body{
  background-color: #FFFFFF;
}
p {
  margin: 0;
}
.logo{
  text-align:center;
  font-family: 'Bangers';
  font-size: 60px;
}
div.legenda{
  text-align: center;
  border: 2px solid red;
  max-width: 300px;
  margin: 0 auto;
  font-family: 'Cormorant SC', sans-serif;

}
.row {
  margin: 0;
}
.articles {
  margin-top: 30px;
  margin-bottom: 30px;
}

.article {
  color: black;
  background: rgba(117, 134, 137, 0.95);
  border-spacing: 2px;
  border-color: gray;
  font-family: sans-serif;
  border-bottom: 1px #e5e5e5 solid;
  border-radius: 20px;
}

.current .item {
  background: red;
  border-radius: 20px;
  color: white;
  font-style: bold;
}

.item {
  cursor: pointer;
  padding-top: 7px;
  padding-bottom: 7px;
  
}

.item .news {
  margin-left: 20px;
  font-weight: bold;
}

.item .title {
  margin-left: 20px;
}

.item .date {
  margin-right: 20px;
}

.item .date {
  text-align: right;  
}

.description {
  font-family: 'Cambo';
  display: none;
  padding-top: 10px;
  padding-bottom: 10px;
  letter-spacing: 2px;
}

.description h1 {
  font-family: arial,sans-serif;
  margin-top: 0px;
  font-size: 20px;
}
p.title {
  margin-left: 20px;
}

.description.row{
  background: white;
  border: 2px solid red;
  border-radius: 20px;
  padding-left: 20px;

}

div.item.row:hover{
  background: gold;
  color: black;
  border-radius: 20px;
}

.slider-nav {
  text-align: center;
  margin-top: 20px;
}

.arrow-prev {
  margin-right: 45px;
  display: inline-block;
  vertical-align: top;
  margin-top: 9px;
}

.arrow-next {
  margin-left: 45px;
  display: inline-block;
  vertical-align: top;
  margin-top: 9px;
}

.slider-dots {
  list-style: none;
  display: inline-block;
  padding-left: 0;
  margin-bottom: 0;
}

.slider-dots li {
  color: #bbbcbc;
  display: inline;
  font-size: 40px;
  margin-right: 5px;
}

.slider-dots li.active-dot {
  color: red;
}